@keyframes color-change {
    0% {
        color: skyblue;
    }
    50% {
        color: gray;
    }
    100% {
        color: skyblue;
    }
}

  body {
    background-color: beige;
    color: gray;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 14px;
  }

  h1 {
    text-decoration: underline;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 28px;
  }

  h1:hover {
    animation: color-change 3s infinite;
  }

  img {
    width: 200px;
    height: auto;
  }

  .width1 {
    border: 5px solid rgb(30, 247, 164);
  }

  a {
    font-size: 20px;
    animation: color-change 3s infinite;
  }